.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}

.restaurant-wrapper {
  padding-left: 10em;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.locate {
  position: absolute;
  top: 0.5rem;
  right: 19rem;
  background: none;
  border: none;
  z-index: 10;
}
.Form {
  position: absolute;
  top: 25%;
  margin: auto;
  width: 400px;
  z-index: 10;
  background-color: rgb(112, 117, 192);
}
